<div class="container">
    
    <div class="row">
        <h1 >Welcome User</h1>
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            
            
            <form [formGroup]="depForm" class="form-signin"  (ngSubmit)="deposit()">
                <div class="form-label-group">
                    <input type="text" id="accno" class="form-control" formControlName="accno" name="accno" placeholder="Account Number">
                  <div *ngIf="(this.depForm.get('accno')?.touched || this.depForm.get('accno')?.dirty)&&
                  this.depForm.get('accno')?.errors" class="error">Invalid Account No</div>  
                  </div>
              <div class="form-label-group">
                <input type="password" id="pwd" class="form-control" formControlName="pwd" name="pwd" placeholder="Password" >
                <div *ngIf="(depForm.get('pwd')?.touched||depForm.get('pwd')?.dirty)&&
                depForm.get('pwd')?.errors" class="error">Invalid Password</div>
              </div>

              <div class="form-label-group">
                <input type="number" id="amt" class="form-control" formControlName="amt" name="amt" placeholder="Amount" >
                <div *ngIf="(depForm.get('amt')?.touched||depForm.get('amt')?.dirty)&&
                depForm.get('amt')?.errors" class="error">Invalid Amount</div>
              </div>
              <div class="d-grid gap-2">
                <button class="btn btn-primary" type="submit" style="font-size: medium;">DEPOSIT</button>
              </div><br>
            </form>
          </div>
        </div>
      </div>
    
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            
            <form [formGroup]="withForm" class="form-signin"  (ngSubmit)="withdraw()">
                <div class="form-label-group">
                    <input type="text" id="waccno" class="form-control" formControlName="waccno" name="waccno" placeholder="Account Number">
                    <div *ngIf="(withForm.get('waccno')?.touched||withForm.get('waccno')?.dirty)&&
                    withForm.get('waccno')?.errors" class="error">Invalid Account No</div>
                  </div>
              <div class="form-label-group">
                <input type="password" id="wpwd" class="form-control" formControlName="wpwd" name="wpwd" placeholder="Password" >
                <div *ngIf="(withForm.get('wpwd')?.touched||withForm.get('wpwd')?.dirty)&&
                withForm.get('wpwd')?.errors" class="error">Invalid Password</div>
              </div>

              <div class="form-label-group">
                <input type="number" id="wamt" class="form-control" formControlName="wamt" name="wamt" placeholder="Amount" >
                <div *ngIf="(withForm.get('wamt')?.touched||withForm.get('wamt')?.dirty)&&
                withForm.get('wamt')?.errors" class="error">Invalid Amount</div>
              </div>
              <div class="d-grid gap-2">
                <button class="btn btn-primary" type="submit" style="font-size: medium;">WITHDRAW</button>
              </div><br>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
